

<div class="login-box">
  <h1>Login Here</h1>
  <p>Username</p>
  <input type="text" name="username" placeholder="Enter Username">
  <p>Password</p>
  <input type="password" name="password" placeholder="Enter password">
  <div style="text-align:center">
    <a href="next page"><button type="button">Start</button></a>
</div>
<!--<body>
<<img ng-src="{{\Users\rafro\team-survey-project\TeamSurveyProject\src\IMAGE.JPG}}">
</body>-->
<div style="padding:0 0 30px; font-size:27px; font-weight:bold;text-align:center">
<a href="#">Forgot password</a>
</div>
</div>

