<div class='loginBoxContainer'>
  <div class="login-box">
    <h1>Login Here</h1>
    <p>Username</p>
    <input type="text" name="username" placeholder="Enter Username" />
    <p>Password</p>
    <input type="password" name="password" placeholder="Enter password" />
    <div>
      <a href="next page">
        <button type="button">Start</button>
      </a>
    </div>
      <div style="font-size:16px; font-weight: bold">
        <a href="#">Forgot password</a>
      </div>
       <div>
         <img src="../assets/images/IMAGE.JPG" alt="campus image">
       </div>
  </div>
</div>