<!-- <h1>Add a new password</h1>
<form #passwordForm="ngForm" fxLayout="column" (ngSubmit)="onSubmit()">
  <mat-input-container>
    <input matInput required placeholder="First Name" name="firstName" [(ngModel)]="dummyData.FirstName">
  </mat-input-container>
  <mat-input-container>
    <input matInput required placeholder="Last Name" name="lastName" [(ngModel)]="dummyData.LastName">
  </mat-input-container>
  <br><br>
  <button mat-button type='button' (click)="clearForm()">Cancel</button>
  <button mat-button [disabled]="!passwordForm.form.valid" type='submit'>Save</button>
</form>

<h1>Welcome to Team Evaluations!</h1>
<button type="button" [routerLink]="['/home']"> Home </button>
<button type="button" [routerLink]="['/survey']"> Survey </button> -->
