<h1>Welcome to Team Evaluations!</h1>
<ng-container *ngFor='let d of teams; let index=index;'>
  <mat-card class='teamTemplate' fxLayout='row'>
    <div fxFlex>
      <div>{{ teams[index].Name }} </div>
      <div>{{ teams[index].Instructor }}</div>
      <div>{{ teams[index].Course }} </div>
      <div>{{ teams[index].Semester }}</div>
    </div>
    <div fxFlex>
      <ng-container *ngIf='teams.length > 1'>
        <button type='button' [routerLink]="['/survey']">Begin Surveys</button>
      </ng-container>
    </div>
  </mat-card>
</ng-container>